<router-outlet> </router-outlet>                                                                                                                               <router-outlet> </router-outlet>
<br/>
<br/>
<br/>
<!--Footer-->
<!-- If Mobile-->
<!--<ng-container *ngIf="isMobile == true">
  <mat-toolbar color="accent" class="mat-elevation-z24 footer">
  <mat-toolbar-row>
    <span style=" font-size:3vw;">Re:Source Management App</span>        
  </mat-toolbar-row>
</mat-toolbar>

</ng-container>-->
<!-- If Not Mobile-->
<!--<ng-container *ngIf="isMobile != true">
  
<mat-toolbar color="accent" class="mat-elevation-z24 footer">
  <mat-toolbar-row>
    <span> Re:Source Management App</span>
    <span style="flex: 1 1 auto;"></span>
    <span style="font-size: 10px">Powered by Pseudocode Developers @ Info</span>
    <span style="flex: 1 1 auto;"></span>          
  </mat-toolbar-row>
</mat-toolbar>

</ng-container>-->
