<mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
    <span style="flex: 1 1 auto;"></span>
    <span>Finances & Revenues Page</span>
    <span style="flex: 1 1 auto;"></span>
  </mat-toolbar>
  
  <mat-tab-group (selectedTabChange)="load()">
  
    <mat-tab label="Dashboard">

    </mat-tab>

    <mat-tab label="Inventory">

        <ng-container *ngIf="isLoaded == false">
            <mat-spinner style="margin: auto"></mat-spinner>
          </ng-container>
    
          <ng-container *ngIf="isLoaded != false">
            <div style="margin:20px;">
                <div class="container">
      
                </div>
                <form class="example-form">
                  <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>
                </form>
      
                <br>
                <hr>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <hr>
                  <mat-form-field appearance="fill">
                    <mat-label>Search Item...</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              

                <mat-card>
                    <ng-container  *ngFor="let item of inventoriesPayload">
                        <mat-card>
                            <mat-card-title>{{ item.name }}</mat-card-title>
                            <mat-card-content>
                                <p> {{ item.desc}}</p>
                                <p> {{ item.created_at}}</p>
                                <p> {{item.imageUrl}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button> View </button>
                                <button mat-button> Update </button>
                                <button mat-button> Archive </button>
                            </mat-card-actions>
                        </mat-card>
                    </ng-container>
                </mat-card>
               
        </ng-container>
                  
    </mat-tab>

    <mat-tab label="Purchases">

    </mat-tab>
    <mat-tab label="Sales">

    </mat-tab>
  </mat-tab-group>
  


