<mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100">
    <span style="flex: 1 1 auto;"></span>
    <span>Home Page</span>
    <span style="flex: 1 1 auto;"></span>
  </mat-toolbar>
  
  <mat-tab-group>
    <mat-tab label="First">
      <div style="padding: 18px;">
        <p>Content</p>
      </div>
    </mat-tab>
    <mat-tab label="Second">
      <div style="padding: 18px;">
        <p>Content</p>
      </div>
    </mat-tab>
    <mat-tab label="Third">
      <div style="padding: 18px;">
        <p>Content</p>
      </div>  
    </mat-tab>
  </mat-tab-group>