/* You can add global styles to this file, and also import other style files */

@import "theme.scss";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */

/*@font-face {
  font-family: "ticking-timebomb-bb";
  src: local("ticking-timebomb-bb"), url(./assets/fonts/ticking-timebomb-bb/TickingTimebombBB.ttf) format("truetype");
}*/

.mat-drawer-content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(194, 200, 149)), color-stop(0.2, rgb(175, 183, 121)), color-stop(0.86, rgb(99, 157, 26)));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  font-size: clamp(12px, .8vw, 20px);
}

button {
  font-size: clamp(12px, .8vw, 20px);
}

span {
  font-size: clamp(14px, .8vw, 20px);
}

h1 {
  font-size: clamp(18px, .8vw, 26px);
  letter-spacing: 2px;
  color: dimgrey;
}

h2 {
  font-size: clamp(16px, .8vw, 24px);
  font-color: dimgrey;
}

h3 {
  font-size: clamp(14px, .8vw, 22px);
  font-color: dimgrey;
}

h4 {
  font-size: clamp(12px, .8vw, 20px);
  font-color: dimgrey;
}

.mat-column-number {
  flex: 0 0 5%;
  max-width: 50px;
}

.mat-column-name {
  flex: 0 0 15%;
}

.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-actions {
  min-width: 200px;
  flex: 0 0 10%;
}

.mat-column-total {
  padding-left: 10px;
  border-left: 1px solid #e0e0e0;
}

.att-table {
  width: 100%;
}

.att-cell {
}

.mat-cell {
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
}

.mat-header-cell {
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
}

.table-container {
  width: 100%;
}

/*div {
  background-image: url('../assets/bg1.PNG');
  background-repeat: no-repeat;
  background-size: cover;
}*/



/* Color Overrides */
/*.mat-primary {
  background: #00DC46 !important
}*/

