<!-- <mat-label>
    Product Id:
    <p>{{itemData._id}}</p>   
</mat-label>

<mat-label>
    Product Name:
    <p>{{itemData.name}}</p>
</mat-label>

<mat-label>
    Product Description:
    <p>{{itemData.description}}</p>
</mat-label>

<mat-label>
    Product Quantity:
    <p>{{itemData.quantity}}</p>
</mat-label>

<mat-label>
    Product Price:
    <p>{{itemData.price}}</p>
</mat-label>

<mat-label>
    Product Image:
    <p>{{itemData.image}}</p>
</mat-label>

<mat-label>
    Product Supplier:
    <p>{{itemData.supplier}}</p>
</mat-label> -->