<div mat-dialog-actions style="padding: 0; margin: 0; display:flex; flex-direction: row-reverse;">
    <button mat-button (click)="onNoClick()" style="flex-direction: row-reverse;">X</button>
</div>
<div style="display: flex; flex-direction: column; margin: 0;">
    
    <h2>Add Petty Cash Form</h2>
    <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="petCashAmount" placeholder="Product Supplier" type="number"/>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Product Supplier:</mat-label>
        <input matInput [(ngModel)]="petCashDate" placeholder="Product Supplier" type="date"/>
    </mat-form-field>
    
    <br/>
    <button (click)="addPettyCash()" mat-raised-button color="primary">Add Petty Cash</button>
</div>
