<div style="height: 100%; width: 100%">

  <ng-container *ngIf="isLoaded == false">
    <mat-spinner style="margin: auto"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="isLoaded != false">

    <!-- If Mobile-->
    <ng-container *ngIf="isMobile == true">
      <mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
        <span style="flex: 1 1 auto;"></span>
        <span>Home</span>
        <span style="flex: 1 1 auto;"></span>
      </mat-toolbar>


      <div class="mat-elevation-z2" style="background-color: lightgrey; width: 100%; min-height: 100%; padding: 8px;">

        <app-announcement>

        </app-announcement>


        <br />
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4" style="background-color: whitesmoke; width: calc(100% - 32px); height: calc(10% - 32px); min-height: 40px; border-radius: 16px; padding: 8px; margin-top: 8px" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <h2 style="text-align: center">
            Dashboard
          </h2>
        </div>

        <br />
        <mat-divider></mat-divider>
        <br />


        <div style="width: calc(100% - 16px); height: calc(25% - 32px); display:inline-flex">
          <div class="mat-elevation-z4" style="background-color: #7c7d3a; width: calc(50%); height: calc(100% - 32px); min-height: 200px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s" (click)="onclickDiv(0)" [ngStyle]="{'min-height': activeDiv === 0 ? '150px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2 style="text-align: center; color: white; ">
              Users Active
            </h2>
            <mat-divider></mat-divider>
            <br />

            <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
          </div>

          <div class="mat-elevation-z4" style="background-color: #797441; width: calc(50%); height: calc(100% - 32px); margin-left: 8px; min-height: 200px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s" (click)="onclickDiv(1)" [ngStyle]="{'min-height': activeDiv === 1 ? '150px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2 style="text-align: center; color: white; ">
              Hours Active
            </h2>
            <mat-divider></mat-divider>
            <br />

            <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
          </div>

        </div>

        <div style="width: calc(100% - 16px); height: calc(25% - 32px); display:inline-flex">
          <div class="mat-elevation-z4" style="background-color: #665358; width: calc(50%); height: calc(100% - 32px); min-height: 200px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s" (click)="onclickDiv(2)" [ngStyle]="{'min-height': activeDiv === 2 ? '150px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2 style="text-align: center; color: white; ">
              Tasks Pending
            </h2>
            <mat-divider></mat-divider>
            <br />

            <h1 style="text-align: center; color: white; font-size: xx-large ">{{taskBoardData.length}}</h1>
          </div>

          <div class="mat-elevation-z4" style="background-color: #79504e; width: calc(50%); height: calc(100% - 32px); margin-left: 8px; min-height: 200px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s " (click)="onclickDiv(3)" [ngStyle]="{'min-height': activeDiv === 3 ? '150px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2 style="text-align: center; color: white; ">
              <br />
              Warnings
            </h2>
            <mat-divider></mat-divider>
            <br />

            <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
          </div>

        </div>

        <br />
        <br />
        <h1 style="text-align: center">...</h1>
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4" style="background-color: whitesmoke; width: calc(100% - 32px); height: calc(10% - 32px); min-height: 40px; border-radius: 16px; padding: 8px; margin-top: 8px" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <h2 style="text-align: center">
            Tasks
          </h2>
        </div>


        <br />
        <mat-divider></mat-divider>
        <br />

        <ng-container *ngFor="let data of taskBoardData; let i = index">

          <div class="mat-elevation-z4" style="background-color: whitesmoke; width: calc(100% - 32px); height: calc(40% - 32px); min-height: 200px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s" (click)="onclickDiv(i+4)" [ngStyle]="{'min-height': activeDiv === i+4 ? '200px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h4 style="text-align: center">
              {{data.taskBoard_name}}

            </h4>
            <mat-divider></mat-divider>
            <p style="text-align: center">
              {{data.taskBoard_content}}
              {{data.taskBoard_content}}
            </p>
          </div>


        </ng-container>

        <!--<div class="mat-elevation-z4" style="background-color: whitesmoke; width: calc(100% - 32px); height: calc(40% - 32px); min-height: 200px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s" (click)="onclickDiv(2)" [ngStyle]="{'min-height': activeDiv === 2 ? '200px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <p style="text-align: center">
            Task
          </p>
          <mat-divider></mat-divider>
        </div>

        <div class="mat-elevation-z4" style="background-color: whitesmoke; width: calc(100% - 32px); height: calc(20% - 32px); min-height: 100px; border-radius: 16px; padding: 8px; margin-top: 8px;" (click)="onclickDiv(3)" [ngStyle]="{'min-height': activeDiv === 3 ? '200px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <p style="text-align: center">
            Task
          </p>
          <mat-divider></mat-divider>
        </div>-->

        <br />
        <br />
        <h1 style="text-align: center">...</h1>
        <mat-divider></mat-divider>
        <br />

        <br />
        <br />
        <br />
        <br />
        <br />

      </div>

    </ng-container>

    <!-- If Not Mobile-->
    <ng-container *ngIf="isMobile != true">
      <mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">

        <span style="flex: 1 1 auto;"></span>
        <span>Home</span>
        <span style="flex: 1 1 auto;"></span>
      </mat-toolbar>
      <div class="mat-elevation-z2" style="background-color: lightgrey; width: 100%; min-height: 100%; padding: 8px;">

        <app-announcement>

        </app-announcement>

        <br />
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4" style="background-color: whitesmoke; width: calc(100% - 32px); height: calc(10% - 32px); min-height: 40px; border-radius: 16px; padding: 8px; margin-top: 8px" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <h2 style="text-align: center">
            Dashboard
          </h2>
        </div>

        <br />
        <mat-divider></mat-divider>
        <br />

        <div style="width: calc(100% - 16px); height: calc(25% - 32px); display:inline-flex">

          <div class="mat-elevation-z4" style="background-color: #7c7d3a; background-image: url( '../assets/images/wave.gif'); background-blend-mode: lighten; background-position-x: 50px; background-size: contain; width: calc(25%); height: calc(100% - 32px); min-height: 100px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s " (click)="onclickDiv(0)" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <div style="backdrop-filter: blur(10px); min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Users Active
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
            </div>
          </div>

          <div class="mat-elevation-z4" style="background-color: #797441; background-image: url( '../assets/images/wave.gif'); background-blend-mode: lighten; background-position-x: 100px; background-size: contain; width: calc(25%); height: calc(100% - 32px); margin-left: 8px; min-height: 100px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s " [@fadeInOnEnter] [@fadeOutOnLeave]>

            <div style="backdrop-filter: blur(10px); min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Hours Active
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
            </div>              
          </div>

          <div class="mat-elevation-z4" style="background-color: #665358; background-image: url( '../assets/images/wave.gif'); background-blend-mode: lighten; background-position-x: 150px;  background-size: contain; width: calc(25%); height: calc(100% - 32px); margin-left: 8px; min-height: 100px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s " [@fadeInOnEnter] [@fadeOutOnLeave]>
            <div style="backdrop-filter: blur(10px); min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Tasks Pending
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">{{taskBoardData.length}}</h1>
            </div>

          </div>

          <div class="mat-elevation-z4" style="background-color: #79504e; background-image: url( '../assets/images/wave.gif'); background-blend-mode: lighten; background-position-x: 200px; background-size: contain; width: calc(25%); height: calc(100% - 32px); margin-left: 8px; min-height: 100px; border-radius: 16px; padding: 8px; margin-top: 8px; transition-duration: 1s " [@fadeInOnEnter] [@fadeOutOnLeave]>
            <div style="backdrop-filter: blur(10px); min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Warnings
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
            </div>
          </div>

        </div>

        <br />
        <br />
        <h1 style="text-align: center">...</h1>
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4" style="background-color: whitesmoke; width: calc(100% - 32px); height: calc(10% - 32px); min-height: 40px; border-radius: 16px; padding: 8px; margin-top: 8px" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <h2 style="text-align: center">
            Tasks
          </h2>
        </div>

        <br />
        <mat-divider></mat-divider>
        <br />

        <div style="width: calc(100% - 16px); height: calc(25% - 32px); display: inline-flex; flex-wrap: wrap;gap: 8px;">

          <ng-container *ngFor="let data of taskBoardData; let i = index">

            <div class="mat-elevation-z4" style="flex: auto; background-color: whitesmoke; min-width: calc(12%); max-width: calc(32%); height: calc(100% - 32px); min-height: 200px; border-radius: 16px; padding: 8px; transition-duration: 1s " [@fadeInOnEnter] [@fadeOutOnLeave]>

              <h4 style="text-align: center">
                {{data.taskBoard_name}}

              </h4>
              <mat-divider></mat-divider>
              <p style="text-align: center">
                {{data.taskBoard_content}}
                {{data.taskBoard_content}}
              </p>
            </div>


          </ng-container>
        </div>

        <br />
        <br />
        <h1 style="text-align: center">...</h1>
        <mat-divider></mat-divider>
        <br />

        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </ng-container>



  </ng-container>







</div>

