<!--IF NOT MOBILE-->

<ng-container *ngIf="isMobile != true">

  <ng-container *ngIf="isLoaded == false">
    <br />
    <br />
    <br />
    <br />
    <mat-spinner style="margin: auto"></mat-spinner>
  </ng-container>

   <ng-container *ngIf="isLoaded == true">

     <mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
        <span style="flex: 1 1 auto;"></span>
        <span>Home</span>
        <span style="flex: 1 1 auto;"></span>
      </mat-toolbar>

      <div class="mat-elevation-z22 tab-container" [@fadeInOnEnter] [@fadeOutOnLeave]>

        <app-announcement>

        </app-announcement>

        <br />
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4 rounded-container-title">
          <h2 style="text-align: center; color: white">
            Dashboard
          </h2>
        </div>

        <div style="width: 100%; display:inline-flex">

          <div class="mat-elevation-z4 home-box-container">
            <div style="min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Users Active
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">{{timeData.length}}</h1>
            </div>
          </div>

          <div class="mat-elevation-z4 home-box-container">

            <div style="min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Hours Active
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">{{getTimeActive()}}</h1>
            </div>
          </div>

          <div class="mat-elevation-z4 home-box-container">
            <div style="min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Tasks Pending
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">{{taskBoardData.length}}</h1>
            </div>

          </div>

          <div class="mat-elevation-z4 home-box-container">
              <h1 style="text-align: center; color: white; ">
                Warnings
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
          </div>

        </div>

        <br />
        <br />
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4 rounded-container-title">
          <h2 style="text-align: center; color: white">
            Tasks
          </h2>
        </div>

        <div style="width: 100%; display: inline-flex; flex-wrap: wrap; justify-content: center">

          <ng-container *ngFor="let data of taskBoardData; let i = index">

            <div class="mat-elevation-z4 task-box-container" [@fadeInOnEnter] [@fadeOutOnLeave]>

              <h4 style="text-align: center">
                {{data.taskBoard_name}}

              </h4>
              <mat-divider></mat-divider>
              <p style="text-align: center">

                <br />
                {{data.taskBoard_content}}
                {{data.taskBoard_content}}
              </p>
            </div>


          </ng-container>
        </div>

        <br />
        <br />
        <mat-divider></mat-divider>
        <br />

        <br />
        <br />
        <br />
        <br />

      </div>
    </ng-container>

  </ng-container>











<!--IF MOBILE-->

<ng-container *ngIf="isMobile == true">




</ng-container>




<!--<ng-container *ngIf="isLoaded == false">
  <br />
  <br />
  <br />
  <br />
  <mat-spinner style="margin: auto"></mat-spinner>
</ng-container>-->
<!--<div style="height: 100%; width: 100%">

  <ng-container *ngIf="isLoaded == false">
    <br />
    <br />
    <br />
    <br />
    <mat-spinner style="margin: auto"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="isLoaded != false">-->
<!-- If Mobile-->
<!--<ng-container *ngIf="isMobile == true">-->
<!--Titlebar-->
<!--<mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
    <span style="flex: 1 1 auto;"></span>
    <span>Home</span>
    <span style="flex: 1 1 auto;"></span>
  </mat-toolbar>

  <div class="mat-elevation-z22 tab-container" [@fadeInOnEnter] [@fadeOutOnLeave]>

    <app-announcement>

    </app-announcement>

    <br />
    <mat-divider></mat-divider>
    <br />

    <div class="mat-elevation-z4 rounded-container-title">
      <h2 style="text-align: center; color: white">
        Dashboard
      </h2>
    </div>

    <div style="width: calc(100% - 16px); height: calc(25% - 16px); display:inline-flex">
      <div class="mat-elevation-z4 home-box-container-mob" style="background-color: #7c7d3a">
        <h3 style="text-align: center; color: white; ">
          Users Active
        </h3>
        <mat-divider></mat-divider>
        <br />

        <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
      </div>

      <div class="mat-elevation-z4 home-box-container-mob" style="background-color: #797441">
        <h3 style="text-align: center; color: white; ">
          Hours Active
        </h3>
        <mat-divider></mat-divider>
        <br />

        <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
      </div>

    </div>

    <div style="width: calc(100% - 16px); height: calc(25% - 16px); display:inline-flex">
      <div class="mat-elevation-z4 home-box-container-mob" style="background-color: #665358">
        <h3 style="text-align: center; color: white; ">
          Tasks Pending
        </h3>
        <mat-divider></mat-divider>
        <br />

        <h1 style="text-align: center; color: white; font-size: xx-large ">{{taskBoardData.length}}</h1>
      </div>

      <div class="mat-elevation-z4 home-box-container-mob" style="background-color: #79504e;">
        <h3 style="text-align: center; color: white; ">
          Warnings
        </h3>
        <mat-divider></mat-divider>
        <br />

        <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
      </div>

    </div>

    <br />
    <br />
    <h1 style="text-align: center;">... &nbsp;</h1>
    <mat-divider></mat-divider>
    <br />

    <div class="mat-elevation-z4 rounded-container-title">
      <h2 style="text-align: center; color: white">
        Tasks
      </h2>
    </div>

    <br />

    <div style="width: calc(100% - 16px); height: calc(25% - 16px);">

      <ng-container *ngFor="let data of taskBoardData; let i = index">

        <div class="mat-elevation-z4 task-box-container-mob" (click)="onclickDiv(i)" [ngStyle]="{'min-height': activeDiv === i ? '200px' : '100px' }" [@fadeInOnEnter] [@fadeOutOnLeave]>
          <h4 style="text-align: center">
            {{data.taskBoard_name}}

          </h4>
          <mat-divider></mat-divider>
          <br />

          <p style="text-align: center">
            {{data.taskBoard_content}}
            {{data.taskBoard_content}}
          </p>
        </div>

      </ng-container>

    </div>

    <br />
    <br />
    <h1 style="text-align: center">... &nbsp;</h1>
    <mat-divider></mat-divider>
    <br />

    <br />
    <br />
    <br />
    <br />

  </div>

</ng-container>-->
<!-- If Not Mobile-->
<!--<ng-container *ngIf="isMobile != true">-->
<!--TitleBar-->
<!--<mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
        <span style="flex: 1 1 auto;"></span>
        <span>Home</span>
        <span style="flex: 1 1 auto;"></span>
      </mat-toolbar>

      <div class="mat-elevation-z22 tab-container" [@fadeInOnEnter] [@fadeOutOnLeave]>

        <app-announcement>

        </app-announcement>

        <br />
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4 rounded-container-title">
          <h2 style="text-align: center; color: white">
            Dashboard
          </h2>
        </div>

        <div style="width: calc(100% - 16px); height: calc(25% - 16px); display:inline-flex">

          <div class="mat-elevation-z4 home-box-container">
            <div style="min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Users Active
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
            </div>
          </div>

          <div class="mat-elevation-z4 home-box-container">

            <div style="min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Hours Active
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
            </div>
          </div>

          <div class="mat-elevation-z4 home-box-container">
            <div style="min-width: inherit; min-height: inherit; ">
              <h1 style="text-align: center; color: white; ">
                Tasks Pending
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">{{taskBoardData.length}}</h1>
            </div>

          </div>

          <div class="mat-elevation-z4 home-box-container">
              <h1 style="text-align: center; color: white; ">
                Warnings
              </h1>
              <mat-divider></mat-divider>
              <br />

              <h1 style="text-align: center; color: white; font-size: xx-large ">0</h1>
          </div>

        </div>

        <br />
        <br />
        <h1 style="text-align: center">...</h1>
        <mat-divider></mat-divider>
        <br />

        <div class="mat-elevation-z4 rounded-container-title">
          <h2 style="text-align: center; color: white">
            Tasks
          </h2>
        </div>

        <div style="width: calc(100% - 16px); height: calc(25% - 16px); display: inline-flex; flex-wrap: wrap;">

          <ng-container *ngFor="let data of taskBoardData; let i = index">

            <div class="mat-elevation-z4 task-box-container" [@fadeInOnEnter] [@fadeOutOnLeave]>

              <h4 style="text-align: center">
                {{data.taskBoard_name}}

              </h4>
              <mat-divider></mat-divider>
              <p style="text-align: center">

                <br />
                {{data.taskBoard_content}}
                {{data.taskBoard_content}}
              </p>
            </div>


          </ng-container>
        </div>

        <br />
        <br />
        <h1 style="text-align: center">...</h1>
        <mat-divider></mat-divider>
        <br />

        <br />
        <br />
        <br />
        <br />

      </div>
    </ng-container>

  </ng-container>

</div>-->
