<div mat-dialog-actions style="padding: 0; margin: 0; display:flex; flex-direction: row-reverse;">
    <button mat-button (click)="onNoClick()" style="flex-direction: row-reverse;">X</button>
</div>
<div style="display: flex; flex-direction: column; margin: 0;">
    
    <h2>Add Item Form</h2>
    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput [(ngModel)]="name" placeholder="product name" type="string"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Product Description</mat-label>
        <textarea matInput [(ngModel)]="description" placeholder="product description" type="string"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="price" placeholder="55.00" type="number" min="0"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput [(ngModel)]="quantity" placeholder="65" type="number" min="0"/>
    </mat-form-field>

    <mat-label>Image:
        <br/>
        <br/>
        <input type="file"  name="image" (change)="selectImage($event)" />
    </mat-label>
    <br/>
   
    
    <br/>
    <button (click)="addItem()" mat-raised-button color="primary">Add Expenses</button>
</div>
