/* You can add global styles to this file, and also import other style files */

@import "theme.scss";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */

/*@font-face {
  font-family: "ticking-timebomb-bb";
  src: local("ticking-timebomb-bb"), url(./assets/fonts/ticking-timebomb-bb/TickingTimebombBB.ttf) format("truetype");
}*/

.mat-drawer-content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(194, 200, 149)), color-stop(0.72, rgb(175, 183, 121)), color-stop(0.86, rgb(99, 157, 26)));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


h2 {
  font-size: 120%;
  font-color: dimgrey;
}

h3 {
  font-size: 100%;
  font-color: dimgrey;
}

h4 {
  font-size: 80%;
  font-color: dimgrey;
}

/*div {
  background-image: url('../assets/bg1.PNG');
  background-repeat: no-repeat;
  background-size: cover;
}*/



/* Color Overrides */
/*.mat-primary {
  background: #00DC46 !important
}*/

