<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
    <div style="padding: 0;margin: 0;">
        <h4>Inventory</h4>
    <mat-card>
        <div>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Product Name:</mat-label>
                    <input matInput [(ngModel)]="prodName" placeholder="Product Name" type="text"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Product Description:</mat-label>
                    <input matInput [(ngModel)]="prodDesc" placeholder="Product Desc" type="text"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Product Image:</mat-label>
                    <input matInput [(ngModel)]="prodImg" placeholder="Product Image" type="text"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Product Price:</mat-label>
                    <input matInput [(ngModel)]="prodPrice" placeholder="Product Price" type="number"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Product Quantity:</mat-label>
                    <input matInput [(ngModel)]="prodQty" placeholder="Product Quantity" type="number"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Product Supplier:</mat-label>
                    <input matInput [(ngModel)]="prodSupp" placeholder="Product Supplier" type="text"/>
                </mat-form-field>
                <br>
                <button (click)="itemAdd()" mat-raised-button color="primary">Add Item</button>
            </p>
        </div>  
    </mat-card>
    </div>

<hr>
<br>
    <div style="padding: 0;margin: 0;">
        <h4>Petty Cash</h4>
    <mat-card>
        <div>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput [(ngModel)]="pcAmount" placeholder="Product Supplier" type="number"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="pcDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <br>
                <button (click)="itemAddPettyCash()" mat-raised-button color="primary">Add Item</button>
            </p>
        </div>
    </mat-card>
    </div>

    <div>
        <h5>Image Upload</h5>
    </div>