<mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
  <span style="flex: 1 1 auto;"></span>
  <span>Finances & Revenues Page</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<mat-tab-group (selectedTabChange)="load()">

  <mat-tab label="Dashboard">

    <ng-template matTabContent>

      <ng-container *ngIf="isLoaded == false">
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-container>

      <ng-container *ngIf="isLoaded != false">
        <div style="padding: 18px;">
          <div>
            <h1>Finances</h1>
          </div>
          <div class="flex-container">

            <div class="flex-item-left">
              <mat-card class="maleStatsCard">
                <mat-card-content>
                  <mat-card-header>
                    Cash Balance
                  </mat-card-header>
                  <google-chart style="width: 100%;height: 250px;"
                                [title]="titleBalance"
                                [type]="typeBalance"
                                [data]="dataBalance"
                                [columns]="chartColumnsBalance"
                                [dynamicResize]="dynamicResize">
                  </google-chart>
                </mat-card-content>
              </mat-card>
            </div>
            <br />
            <div class="flex-item-right">
              <mat-card>
                <mat-card-content>
                  <mat-card-header>
                    Sales
                  </mat-card-header>
                  <google-chart style="width: 100%;height: 250px;"
                                [title]="titleSales"
                                [type]="typeSales"
                                [data]="dataSales"
                                [columns]="chartColumnsSales"
                                [dynamicResize]="dynamicResize">
                  </google-chart>
                  <p>Legend</p><br />
                  <p>AP - Account Payable Turnover</p>
                  <p>AR - Account Receivable Turnover</p>

                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <br />

          <!--<div>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

              <!--Position Column-->
              <!--<ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>-->

              <!--Name Column-->
              <!--<ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>-->

              <!--Weight Column-->
              <!--<ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>-->

              <!--Symbol Column-->
              <!--<ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>

          </div>-->
        </div>

      </ng-container>
    </ng-template>
  </mat-tab>

  <mat-tab label="Petty Cash">

    <ng-template matTabContent>

      <ng-container *ngIf="isLoaded == false">
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-container>

      <ng-container *ngIf="isLoaded != false">
        <div style="padding: 18px;">
          <div>
            <h1>Petty Cash</h1>
          </div>
          <div class="flex-container">

            <div class="flex-item-left">
              <mat-card class="maleStatsCard">
                <mat-card-content>
                  <mat-card-header>
                    Cash Balance
                  </mat-card-header>
                  <google-chart style="width: 100%;height: 250px;"
                                [title]="titleBalance"
                                [type]="typeBalance"
                                [data]="dataBalance"
                                [columns]="chartColumnsBalance"
                                [dynamicResize]="dynamicResize">
                  </google-chart>
                </mat-card-content>
              </mat-card>
            </div>
            <br />
          </div>

          <div style="margin:20px;">
            <div class="container">
  
            </div>
            <form class="example-form">
              <button mat-raised-button color="primary" (click)="addPettyCash()">Add Petty Cash
              </button>
            </form>
  
            <br>
            <hr>
            <div style="display: flex; align-items: center; justify-content: center;">
              <hr>
              <mat-form-field appearance="fill">
                <mat-label>Search Revenue Report</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <br />

          <div>
            <mat-table [dataSource]="pettyCashDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element._id}} </td>
              </ng-container>

              <ng-container matColumnDef="pet_amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.pet_amount}} </td>
              </ng-container>

              <ng-container matColumnDef="pet_date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.pet_date}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button (click)="viewPettyCash(element._id)">View</button>
                  <button mat-button (click)="editPettyCash(element._id)">Edit</button>
                  <button mat-button (click)="archivePettyCash(element._id)">Archive</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="pettyCashDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: pettyCashDisplayedColumns;"></tr>
            </mat-table>

          </div>
          <br/>
          <br/>
          <br/>
        </div>

      </ng-container>
    </ng-template>
  </mat-tab>

  <mat-tab label="Revenues">
    <ng-template matTabContent>

      <ng-container *ngIf="isLoaded == false">
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-container>

      <ng-container *ngIf="isLoaded != false">

        <div style="padding: 18px;">
          <mat-card>
            <mat-card-content>
              <google-chart style="width: 95%; display: flex; margin: auto auto"
                            [title]="title"
                            [type]="myType"
                            [data]="data"
                            [columns]="chartColumns"
                            [dynamicResize]="dynamicResize">
              </google-chart>
            </mat-card-content>
          </mat-card>

        </div>

        <div style="margin:20px;">
          <div class="container">

          </div>
          <form class="example-form">
            <button mat-raised-button color="primary">Add Revenue Report</button>
          </form>

          <br>
          <hr>
          <div style="display: flex; align-items: center; justify-content: center;">
            <hr>
            <mat-form-field appearance="fill">
              <mat-label>Search Revenue Report</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>

        <!-- <div>
          <mat-table [dataSource]="revenuesDataSource" class="mat-elevation-z8" >

            
            <ng-container matColumnDef="Description">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.rev_desc}} </mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="Amount">
              <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.rev_amount}} </mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="Date">
              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.rev_date | date }} </mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="Noted By">
              <mat-header-cell *matHeaderCellDef> Noted By </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.rev_by}} </mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="Actions">
              <mat-header-cell *matHeaderCellDef> Noted By </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="warn">Warn</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div> -->

      </ng-container>
    </ng-template>
  </mat-tab>

  <mat-tab label="Expenses">
    <ng-template matTabContent>

      <ng-container *ngIf="isLoaded == false">
        <mat-spinner style="margin: auto"></mat-spinner>
      </ng-container>

      <ng-container *ngIf="isLoaded != false">

        <div style="padding: 18px;">
          <mat-card>
            <mat-card-content>
              <google-chart style="width: 95%; display: flex; margin: auto auto"
                            [title]="title"
                            [type]="myType"
                            [data]="data"
                            [columns]="chartColumns"
                            [dynamicResize]="dynamicResize">
              </google-chart>
            </mat-card-content>
          </mat-card>

        </div>

        <div style="margin:20px;">
          <div class="container">

          </div>
          <form class="example-form">
            <button mat-raised-button color="primary" (click)="addExpenses()">Add Expenses Report</button>
          </form>

          <br>
          <hr>
          <div style="display: flex; align-items: center; justify-content: center;">
            <hr>
            <mat-form-field appearance="fill">
              <mat-label>Search Revenue Report</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>

        <div class="sort">

          



        </div>
      </ng-container>
    </ng-template>

  </mat-tab>
</mat-tab-group>
