<div>
    <div mat-dialog-actions style="padding: 0; margin: 0; display:flex; flex-direction: row-reverse;">
        <button mat-button (click)="onNoClick()" style="flex-direction: row-reverse;">X</button>
    </div>
    <mat-card-title>View Petty Cash</mat-card-title>
    <mat-card>
        <div>

            <mat-form-field appearance="outline">
                <mat-label>Sales Id:</mat-label>
                <input matInput [(ngModel)]="number" type="text" disabled />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date:</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="salesDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Price:</mat-label>
                <input matInput [(ngModel)]="salesPrice" type="number" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Quantity:</mat-label>
                <input matInput [(ngModel)]="salesQty" type="number" min="0" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description:</mat-label>
                <input matInput [(ngModel)]="salesDesc" type="number"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Supplier:</mat-label>
                <input matInput [(ngModel)]="salesSupp" type="text"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Position-in-Charge:</mat-label>
                <input matInput [(ngModel)]="salesBy" type="number" />
            </mat-form-field>

            <br>
            <hr>
            <br>
            <button mat-dialog-close (click)="updateSales()" mat-raised-button color="primary">Update Petty Cash</button>
            <ng-container *ngIf="salesIsArchive == 1">
                <button mat-dialog-close (click)="archiveSales()" mat-raised-button color="primary">Restore Petty Cash</button>
            </ng-container>
            <ng-container *ngIf="salesIsArchive == 0">
                <button mat-dialog-close (click)="restoreSales()" mat-raised-button color="warn">Archive Petty Cash</button>
            </ng-container>



        </div>
    </mat-card>
</div>